.nav-wrapper {
    padding: 0 2rem;
}
.price {
    font-size: 2rem;
}
/* login.hbs */
.auth {
    padding-top: 1rem;
}
/* course.hbs */
.course {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.course h1 {
    min-width: 150px;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.course img {
    width: 300px;
    height: auto;
}

.course .price.big {
    font-size: 1.5rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* editCourse.nbs  */
.form-margin {
    margin-bottom: 2rem;
}

.alert {
    padding: 5rem 1 rem;
    font-size: 1.4rem;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1rem;
    background-color: rgb(244, 180, 180);
    color: black;
}

.avatar {
    max-width: 300px;
    height: auto;
}
.changeAvatar {
    background-color: lightblue;
    font-size: 1.2rem;
}
