.nav-wrapper {
    padding: 0 2rem;
}
.price {
    font-size: 2rem;
}

.course {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.course h1 {
    min-width: 150px;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.course img {
    max-width: 400px;
    height: auto;
}

.course .price.big {
    font-size: 1.5rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
